.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.not-uppercase .v-btn__content {
  text-transform: none;
}

.active {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.small-text {
  font-size: 12px;
}

.border-blue {
  border-color: blue;
}

.responsive-dialog {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}
